:root {
  --bg-color: rgb(240, 227, 224);
  --bk-color: rgb(0, 0, 0);
  --change-key-color: rgb(0, 0, 255);
}

body {
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  margin-top: 4rem;
  font-size: 5rem;
}

.piano {
  margin-top: 5rem;
  text-align: center;
  position: relative;
}

.key {
  display: inline-block;
  position: relative;
  width: 5rem;
}

.key .whitekey {
  border-style: solid;
  display: flex;
  height: 20rem;
  z-index: 1;
}

.key .blackkey {
  background-color: var(--bk-color);
  border-style: solid;
  border-color: var(--black-key-color);
  height: 12rem;
  position: absolute;
  top: 0rem;
  right: -40%;
  width: 70%;
  z-index: 2;
}

kbd {
  font-size: 4rem;
  position: absolute;
  top: 16rem;
  right: 1rem;
  left: 1rem;
}

p {
  text-align: center;
  font-size: 5rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .piano {
    margin-top: 0rem;
  }

  .key {
    width: 2.5rem;
  }

  kbd {
    font-size: 1.5rem;
  }

  p {
    font-size: 3rem;
  }
}
